* {
    margin: 0;
}
.simple-button {
    border-radius: 10px;
    display: block;
    background-color: bisque; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border: 0;
    min-width: 10%;
    min-height: 10vh;
    transition-duration: 1s;
}
.simple-button:hover {
    background-color: black;
    color: white;
}
#btn2 {
    margin: 0% 45%;
}